.Profile {
  display: grid;
  place-content: center;

  padding-top: 30px;

  form {
    background: var(--offset-color);
    padding: 30px 60px;
    width: 500px;

    display: grid;
    row-gap: 25px;
  }

  .Avatar {
    input {
      padding: 0 !important;
    }
  }
}
