.Header {
  position: sticky;
  top: 0;
  background: var(--header-color);
  color: var(--background-color);

  height: 30px;

  display: grid;
  grid-template-columns: max-content 1fr 50px;
  gap: 20px;
  align-items: center;

  /* h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  } */

  .NavigationContainer {
    display: none;
    justify-self: end;
  }

  @media (min-width: 750px) {
    height: 50px;
    padding-left: var(--padding);

    .MenuContainer {
      display: none;
    }

    .NavigationContainer {
      display: initial;
    }
  }
}
