:root {
  --primary-font: 'Noto Sans', sans-serif;
  /* --secondary-font: times new roman, serif; */
  --header-color: #65743a;
  --background-color: #f8fff4;
}

body {
  height: 100vh;
  background: var(--background-color);
  font-family: var(--primary-font);
}

* {
  box-sizing: border-box;
}
