.FormControl {
  display: block;

  &:not(:first-child) {
    margin-top: var(--padding);
  }

  &:not(:last-child) {
    margin-bottom: var(--padding);
  }

  span {
    display: block;
    font-size: 0.8em;
    margin-bottom: 1px;
    font: var(--primary-font);
  }

  input:not([type='checkbox']),
  select,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-family: var(--primary-font);
  }

  .CheckboxLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 4px;
  }

  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  textarea {
    height: 6em;
    resize: vertical;
  }
}

.FormButton {
  padding: 10px 15px;
  background: var(--header-color);
  color: var(--background-color);
  cursor: pointer;
}

.Fieldset {
  border-top: 1px solid black;

  legend {
    text-align: center;
  }
}
