.FormControl {
  display: block;

  .Label {
    display: block;
    margin-bottom: 7px;
    color: var(--background-color);
  }

  .Options {
    display: grid;
    row-gap: 4px;
    column-gap: 10px;
  }

  input:not([type='checkbox']):not([type='radio']),
  select,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-family: var(--primary-font);
  }

  .CheckboxLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 4px;
  }

  input[type='checkbox'],
  input[type='radio'] {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  textarea {
    height: 6em;
    resize: vertical;
  }
}

.FormButton {
  padding: 5px 10px;
  height: 40px;
  background: var(--background-color);
  /* border: 1px solid var(--background-color); */
  cursor: pointer;

  &.Icon {
    font-size: 1.5em;
  }
}

.Fieldset {
  border-top: 1px solid black;

  legend {
    text-align: center;
  }
}
